html{
    font-family: sans-serif;
    background-color: rgb(250,180,206);
    height: 15vh;
    padding-top: 250px;
    text-align: center;
    background-image: url(./imagens11/fundo.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-color: initial;
    background-attachment: fixed;
    background-size: cover;


}

h1{
    font-size: 35px;
    color: rgb(129, 21, 61);
}

h2{
    color: rgb(187, 8, 74);
}

h3{
    color: rgb(244, 6, 93);
}

h4{
    color: rgb(242, 5, 124);
}
